

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 0px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}
a.mapboxgl-ctrl-logo{
  display: contents;
}


.sidebar {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 0px;
}

.map {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {

  position: relative;
  background: rgba(247, 247, 247, 0.96);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 10px 3px;
  pointer-events: auto;

}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h4 {

  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;

  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
 /* display: table;*/
  padding: 0px;
  font-weight: 400;
  height: 20px;

}

.mapboxgl-popup-content div {

  padding-bottom: 0px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.marker {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-image: url(../images/truckmarker.png);
  background-color: rgba(0, 0, 0, 0);

}

.mapboxgl-popup {
  padding-bottom: 50px;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 40px;
  text-decoration: none;
  font-size: 17px;
}



.navbar a.active {
  color: white;
}
.men{
    background:red;
}
.main {
  padding: 16px;
  margin-bottom: 30px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl{
  margin:41px 10px 0 0;
  float: right;
}

/* Popup container - can be anything you want */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 18px;
  margin-left: 270px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: visible;
  width: 90px;
  background-color: #F1EFF8;
  color: #1b1b1b;
  text-align: center;
  border-radius: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: fixed;
  margin-top: 500px;
  /* right: 600px; */
  z-index: 1;
  /* bottom: -168%; */
  left: 50%;
  margin-left: -211px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#circtruck.show{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}











































body{padding: 0; margin: 0; font-family: 'Helvetica Neue', 'Arial','Helvetica', 'sans-serif';}
h1 { position: absolute; top: 100px; left: 100px; }
#burger{
  position: relative;
  right: 0;
  top: 0;
  color: white;
  background: linear-gradient(45deg, #1c1c1c 10%, rgba(93, 93, 93, 0.37));;
  font-size: 32px;
  padding: 32px 32px 16px 16px;
  border-radius: 0% 0% 69% 0%;
  transition: 0.5s;
  cursor: pointer;
  z-index:0;
}
#by{
  position: relative;
  right: 0;
  left: 70px;
  top: 6px;
  color: white;
  background: black;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
  z-index: 9;
}
.element-style{}

#quit{
  position: relative;
  top: 0;
  color: white;
  font-size: 32px;
  padding: 16px;
  display: none;
  right: 140px;
  cursor: pointer;
  z-index:9999999999;
}

#links{
  display: none;
  flex-direction: column;
  width: 100vw;
  /* height: 100;*/
  /* padding: 42vh 0; */
  justify-content: space-around;
  z-index: 9998;
  overflow: scroll;
}

#links a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-family: 'Roboto';
  z-index: 10;

}
.script span {
  background-color: #e83e2a;
  padding: 0 0.3em;
}
#insta{
  position: absolute;
  vertical-align: middle;
  border-style: none;
  z-index: 9;
  margin-left: 80px;
  padding-top: 6px;
}
#circtruck{
  visibility: hidden;
  z-index: 9;
  margin-top: 500px;
  margin-left: -34px;
  position: absolute;
}




























